
:root {
    --light-background: #1a1a1a;
    --dark-background: #151515;
    --background: #252525;
    --text: snow;
    --dark-text: #e5e5e5;

    --game-color-1: #0f0f0f;
    --game-color-2: #151515;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: var(--background);
    color: var(--text);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-width: 100vw;
    min-height: 100vh;
    text-align: center;
}

hr {
    background: var(--dark-text);
    height: 1px;
    margin-top: 16px;
    margin-bottom: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    /* align-items: center; */
}

h1 {
    font-size: 48px;
}

h3 {
    color: var(--dark-text);
}

p {
    color: var(--dark-text);
}

input {
    background: var(--dark-background);
    color: var(--dark-text);
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 600;
    width: 80px;
}

select {
    cursor: pointer;
    background: var(--dark-background);
    color: var(--dark-text);
    padding: 12px 18px;
    min-height: 33px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    text-align: left;
    /* border: 2px solid var(--dark-background); */
    /* box-shadow: 0px 0px 7px -2px black; */
}

.button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    background: var(--dark-background);
    color: var(--dark-text);
    padding: 14px 18px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    /* box-shadow: 0px 0px 7px -2px black; */
    transition: all 200ms ease;
}

.button:hover {
    color: var(--text);
    background: var(--light-background);
    box-shadow: 0px 1px 7px 0px black;
    transform: translateY(-4px);
}

#play {
    background: #04a071;
}
#play:hover {
    background: #0cb180;
}

#score {
    padding: 4px 12px;
    background: var(--dark-background);
    border-radius: 4px;
    color: white;
}

.bottom-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.roundedBox {
    background: var(--dark-background);
    border-radius: 4px;
    padding: 10px;
}

.popupbg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.408);
    z-index: 11;
}

.popup {
    background: var(--dark-background);
    border: solid 1px var(--dark-text);
    box-shadow: 0px 0px 20px 0px black;
    padding: 20px;
    z-index: 12;
}

.game {
    display: grid;
    /* grid-template-columns: 1fr; */
    border: 2px solid transparent;
}

.game-cell {
    width: 35px;
    height: 35px;
    background-color: var(--game-color-1);
}

.every-other {
    background-color: var(--game-color-2);
}

